[submodule "crazyflie_sitl/crazyflie-firmware"]
	path = crazyflie_sitl/crazyflie-firmware
	url = https://github.com/DynamicSwarms/crazyflie-firmware.git
	branch = de-crazysim
[submodule "crazyflie_sitl/quadcopter_model"]
	path = crazyflie_sitl/quadcopter_model
	url = https://github.com/DynamicSwarms/quadcopter_model.git
